*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(img/BG.jpg);
    background-size: cover;
    max-width: 100%;
    height: 100vh;
    overflow: hidden;

}
header{
    background-color: aqua;
    width: 400px;
    margin:auto;
    margin-top:70px;
    text-align: center;
    padding:30px;
    border-radius:50px;
    
}

li{
    list-style: none;
    display: inline-block;
    padding:7px;
    font-size:1.5rem;
}

.Logo {
    float: left;
    width: 300px;
    position: relative;
}
